<div class="container-fluid">
  <%= render :partial => "devise/shared/header", :locals => {:message => "Resend confirmation instructions"} %>

  <div class="jumbotron">
    <p>
       If you missed getting an email with confirmation instructions, please provide your email address here and we will send
       it to you again. Please check your spam folder to make sure your mailer has not put the confirmation there. 

       We have had cases where at least Google belives emails from admin@zenzaizenzai.com are spam.
    </p>
  </div>

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= render :partial => "devise/shared/email", :locals => {:f => f} %>
    <%= render :partial => "devise/shared/submit", :locals => {:f => f, :message => "Resend confirmation instructions"} %>

  <% end %>

  <%= render "devise/shared/links" %>
</div>

