<div class="container-fluid">
  <%= render :partial => "devise/shared/header", :locals => {:message => "Resend confirmation instructions"} %>

  <div class="jumbotron">
    <p>If you missed getting an email with confirmation instructions, please provide your email address here and we will send
    it to you again.</p>

    <p>Please check your spam folder to make sure your mailer has not put the confirmation email there. We have had cases where at least 
    Google believed emails from admin@zenzaizenzai.com were spam.</p>
  </div>

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= render :partial => "devise/shared/email", :locals => {:f => f} %>

    <%= recaptcha_v3(action: 'confirmation', site_key: ENV['RECAPTCHA_V3_SITE_KEY']) %>

    <%= render :partial => "devise/shared/submit", :locals => {:f => f, :message => "Resend confirmation instructions"} %>

  <% end %>

  <%= render "devise/shared/links" %>
</div>

