<div class="container-fluid">

  <%= render :partial => "devise/shared/header", :locals => {:message => "Sign up"} %>

  <div class="jumbotron">
    <p>Thanks for signing up to this website. You will receive an email asking you to confirm your email address.
       After you have clicked the link in the email and given us your confirmation, you will start getting daily
       emails with quotes from Nichiren Shonin. If you ever want to take a break from receiving emails, please change
       option in your profile. 

       If you do not receive the confirmation email in a few hours, please check your spam folder. There have been
       cases where at least Google thinks admin@zenzaizenzai.com is a spammer.

       Welcome!
    </p>
  </div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= render :partial => "devise/shared/email_password", :locals => {:f => f} %>
    <%= render :partial => "devise/shared/password_confirmation", :locals => {:f => f} %>

    <%= render :partial => "devise/shared/submit", :locals => {:f => f, :message => "Sign up"} %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

