<div class="container-fluid">
  <%= render :partial => "devise/shared/header", :locals => {:message => "Resend unlock instructions"} %>

  <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= render :partial => "devise/shared/email", :locals => {:f => f} %>

    <%= recaptcha_tags %>

    <%= render :partial => "devise/shared/submit", :locals => {:f => f, :message => "Resend unlock instructions"} %>

  <% end %>

  <%= render "devise/shared/links" %>
</div>

