<div class="container-fluid">
  <%= render :partial => "devise/shared/header", :locals => {:message => "Sign in"} %>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= render :partial => "devise/shared/email_password", :locals => {:f => f} %>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.check_box :remember_me %> <%= f.label :remember_me, "remember me" %>
        </div>
      </div>
    <% end -%>

    <%= recaptcha_tags %>

    <%= render :partial => "devise/shared/submit", :locals => {:f => f, :message => "Sign in"} %>
  <% end %>

  <div class="col-xs-12">
    <%= render "devise/shared/links" %>
  </div>

</div>
